header.main_header{
    height: 80vh;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
position: relative;
margin-bottom: 6rem;
}

header.main_header img.header_bg{
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    z-index: var(--z-index-back);
}

.main_header__content{
    z-index: var(--z-index-normal);
    text-align: center;
font-family: 'Courier New', Courier, monospace;
}
.main_header__content h1{
    color:white;
    font-family: var(--font-red-rose);
    font-size: 3rem;
    font-weight: 300;
}
.content__links {
    display: flex;
    justify-content: center;
    gap: 1rem;

    
}
.main_header__content .content__links li{
    padding: 1.2rem;
    border: 1px solid white;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 5px;
    display: grid;
    place-content: center;
    transition: background 300ms, border 300ms;
}

.main_header__content .content__links li img{
    display: block;
    margin: 0 auto;
}
.main_header__content h1 span{
    color: var( --text-enfasis);
}
@media screen and (min-width:1050px) {
    .main_header__content .content__links li:hover{
        background-color:var(--text-enfasis);
    }
}