.main_skills {
    position: relative;

    background-color: var(--background-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_skills__cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.skills__card {
    background-color: var(--bg-shadow);
    padding-block: 1rem;
    padding-inline: 1rem;
    width: 100%;
    border-radius: var(--radius-default);


}

.skills__card__title {
    color: var(--text-purple);
    font-family: var(--font-Rajdhani);
    font-size: 1.5rem;
}

ul.skills__cards__skill {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

ul.skills__cards__skill li {
    padding: 1rem;
    background-color: var(--background-primary);
    border-radius: var(--radius-default);
    color: var(--text-purple);
    font-family: var(--font-Londrina-Solid);

}

@media screen and (min-width:1050px) {
    .main_skills__cards {
        flex-direction: row;
    }

    .skills__card {
        background: transparent;
        width: 33%;
    }
}