* {
    margin: 0;
    padding: 0;
    color: var(--text-description);
    box-sizing: border-box;
    scroll-behavior: smooth;

}

::selection{
    background-color: var( --primary-purple)
}
html {
    scroll-padding-top: 5rem;
}

p {
    font-family: var(--font-text);
}

body {
    background: var(--background-primary);
    margin-bottom: 7rem;


}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 90%;
    /* padding-inline: 2rem; */
    margin: 0 auto;
    /* border: 1px solid red; */
}

@media screen and (min-width:1050px) {
    .container {
        max-width: 1300px;
    }
    section{
        padding-block: 2rem;
    }
}

@media (min-width:1050px) and (max-width:1400px) {
    .container {
        padding-inline: 1rem;
    }
}

section {
    min-height: 63vh;
    padding-block: 2rem;

}

p>a {
    color: white;
    text-decoration: underline;
}