@import './variables.css';
@import './defaultStyles.css';

@import './sections/header.css';
@import './sections/navbar.css';
@import './sections/aboutme.css';
@import './sections/skills.css';
@import './sections/services.css';
@import './sections/proyects.css';
@import './sections/contact.css';
@import './sections/loader.css';


/* section separarion gradiant */


.toDownGradient-secundary,
.toUpGradiant-primary,
.toDownGradient-primary {
    position: relative;

}

.toDownGradient-primary::after,
.toDownGradient-secundary::after,
.toUpGradiant-primary::after {
    content: "";
    position: absolute;
    height: 30px;
    top: 0;
    width: 100%;
    /* z-index: var(--z-index-back); */
}

.toDownGradient-secundary::after {
    background-image: linear-gradient(to bottom, var(--background-secondary), transparent);
}

.toDownGradient-primary::after {

    background-image: linear-gradient(to bottom, var(--background-primary), transparent);
}


.toUpGradiant-primary::after {
    background-image: linear-gradient(to top, var(--background-primary), transparent);

    top: auto;
    bottom: 0;

}

.title-gradient {
    text-align: center;
    font-family: 'Red Rose';
    background-image: linear-gradient(to left, #FE3D80 50%, #BC0B94 80%);
    font-size: 2.3rem;
    color: transparent;
    -webkit-background-clip: text;
    letter-spacing: .5rem;
    /* display: block;
    width: auto; */
}